{{if $.Site.Data.config.enableLatex}}
<link rel="stylesheet" href="{{$.Site.BaseURL}}/katex.min.css">
<script defer src="{{$.Site.BaseURL}}/katex.min.js"></script>
<script defer src="{{$.Site.BaseURL}}/auto-render.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
      ],
      throwOnError : false
    });
  });
</script>
{{end}}
